<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog | Articles</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/articles">Articles</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h1>Edit <%= article.title %></h1>
			<form action="/articles/<%= article._id%>?_method=PUT" method="POST">
				<p>
					<input
						type="text"
						name="title"
						placeholder="Title"
						value="<%= article.title %>"
					/>
				</p>
				<p>
					<textarea type="text" name="body" placeholder="Body">
<%= article.body %></textarea
					>
				</p>
				<input type="submit" value="Update Article" />
			</form>
		</main>
	</body>
</html>
