<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog | Articles</title>
	</head>
	<body>
		<nav>
			<h1>Welcome to Blog App</h1>
			<ul>
				<li>
					<a href="/authors">Authors</a>
				</li>
				<li>
					<a href="/articles">Articles</a>
				</li>
				<li>
					<a href="/articles/new">Add an Article</a>
				</li>
			</ul>
		</nav>
		<main>
			<h2>List of articles</h2>

			<% if(!articles.length) { %>
			<p>There are no articles available yet.</p>
			<% } %>

			<ul>
				<% articles.forEach(article => { %>
				<li>
					<a href="/articles/<%= article._id %>"> <%= article.title %></a>
				</li>
				<% })%>
			</ul>
		</main>
	</body>
</html>
