<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BLog | Articles</title>
	</head>
	<body>
		<nav>
			<h1>Welcome to Blog App!</h1>
			<ul>
				<li>
					<a href="/authors">Authors</a>
				</li>
				<li>
					<a href="/articles">Articles</a>
				</li>
			</ul>
		</nav>
		<main>
			<form action="/articles" method="POST">
				<p>
					<input type="text" name="title" placeholder="Title" />
				</p>
				<p>
					<textarea type="text" name="body" placeholder="Body"></textarea>
				</p>
				<p>
					<select name="author">
						<option value="test">author placeholder. good question ben!</option>
						<% authors.forEach ( author => { %>
						<option value="<%= author._id %>"><%= author.name %></option>
						<% }) %>
					</select>
				</p>
				<input type="submit" value="Create Article" />
			</form>
		</main>
	</body>
</html>
