<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog | Articles</title>
	</head>
	<body>
		<nav>
			<h1>Welcome to Blog App</h1>
			<ul>
				<li>
					<a href="/authors">Authors</a>
				</li>
				<li>
					<a href="/articles">Articles</a>
				</li>
				<li>
					<a href="/articles/new">Add an Article</a>
				</li>
			</ul>
		</nav>
		<main>
			<section>
				<h2>Article Info</h2>
				<a href="/articles/<%= article._id %>/edit">Edit</a>
				<ul>
					<li>Title: <%= article.title %></li>
					<li>Body: <%= article.body %></li>
				</ul>
			</section>
			<form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete Article" />
			</form>
		</main>
	</body>
</html>
