<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/styles/authors.css" />
		<title>dope blog app | authors</title>
	</head>
	<body>
		<nav>
			<h1>Welcome to the dope blog app</h1>
			<ul>
				<li>
					<a href="/authors">Authors</a>
				</li>
				<li>
					<a href="/authors/new">Add an Author</a>
				</li>
			</ul>
		</nav>
		<main>
			<h2>List of Authors</h2>
			<section class="gallery">
				<% if(!authors.length) { %>
				<p>There are no authors available yet.</p>
				<% } %>

				<ul>
					<% authors.forEach(author => { %>
					<li>
						<a href="/authors/<%= author._id %>"> <%= author.name %></a>
					</li>
					<% })%>
				</ul>
			</section>
		</main>
	</body>
</html>
