<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>dope blog app | authors</title>
	</head>
	<body>
		<nav>
			<h1>Welcome to the dope blog app</h1>
			<ul>
				<li>
					<a href="/authors">Authors</a>
				</li>
				<li>
					<a href="/authors/new">Add an Author</a>
				</li>
			</ul>
		</nav>
		<main>
			<section>
				<h2>Author Info</h2>
				<a href="/authors/<%= author._id %>/edit">Edit</a>
				<ul>
					<li>Name: <%= author.name %></li>
				</ul>
			</section>
			<form action="/authors/<%= author._id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete" />
			</form>
		</main>
	</body>
</html>
